
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: #7f7f7f;
  color: rgba(255, 255, 255, 0.7);
  background: #fff;
  height: 100%;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
a {
  color: #17e7a4;
}
a:hover, a:active, a:focus {
  color: #17e7a4;
}
p {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: 400;
  margin: 0 0 30px 0;
}
#acm-main {
  max-width: 760px;
  min-height: 600px;
  margin: 5em auto 5em auto;
  position: relative;
  background: rgba(0, 0, 0, 0.85);
  overflow: hidden;
  border-radius: 7px;
  transition: 0.5s;
}

.acm-tab-wrap {
  position: relative;
}
.acm-tab-wrap .acm-tab-menu {
  list-style: none;
  text-align: center;
  margin-bottom: 2em;
  position: relative;
  top: -.5em;
  padding: 0;
  margin: 0;
}

.acm-tab-wrap .acm-tab-menu li {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-align: center;
  padding: 0;
  margin: 0;
}
.acm-tab-wrap .acm-tab-menu li a {
  padding: 2em 1em 1em 1em;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  z-index: 10;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  transition: 0.3s;
}

.acm-tab-wrap .acm-tab-menu li a .menu-text {
  display: block;
  transition: 0.5s;
}

.acm-tab-wrap .acm-tab-menu li a:after {
  position: absolute;
  content: "";
  height: 0;
  background: #17e7a4;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 7px;
}
.acm-tab-wrap .acm-tab-menu li a:hover {
  color: #fff;
  text-decoration: none;
}
/*.acm-tab-wrap .acm-tab-menu li a:hover .icon {
  bottom: 10px;
}*/

.acm-tab-wrap .acm-tab-menu li a:hover:after {
  height: 100%;
}

.acm-tab-wrap .acm-tab-menu li.active > a {
  color: #fff;
  text-decoration: none;
}
.acm-tab-wrap .acm-tab-menu li.active > a:after {
  height: 100%;
}
.acm-tab-wrap .acm-tab-content {
  padding-left: 4em;
  padding-right: 4em;
  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
}

.acm-tab-wrap .acm-tab-content.active {
  opacity: 1;
  visibility: visible;
}
.acm-tab-wrap .acm-tab-content .acm-content-inner {
  padding: 7em 2em 5em 2em;
  float: left;
  width: 100%;
  position: relative;
}


figure {
  margin-bottom: 1.5em;
}

.acm-counter .acm-number {
  font-size: 100px;
  color: #17e7a4;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: .7;
}
.acm-counter .acm-number.fh5co-left {
  float: left;
  width: 30%;
}

.acm-counter .acm-text {
  float: right;
  text-align: left;
  width: 70%;
}

.acm-counter .acm-text h3 {
  margin: 0;
  padding: 0;
  position: relative;
}
.acm-counter .acm-text h3.border-bottom:after {
  content: "";
  width: 50px;
}

.chart {
  width: 160px;
  height: 160px;
  margin: 0 auto 30px auto;
  position: relative;
  text-align: center;
}
.chart span {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -30px;
  width: 100%;
}
.chart span strong {
  display: block;
}
.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#acm-footer {
  margin-top: 50px;
  background: black;
  clear: both;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 20px;
  line-height: 1.2;
}
#acm-footer small {
  font-size: 14px;
}
#acm-footer .acm-author {
  display: block;
}
